##########################################
# Python
##########################################

__pycache__/
*.py[cod]
*$py.class

##########################################
# Virtual Environment
##########################################

venv/
.env

##########################################
# VS Code
##########################################

.vscode/

##########################################
# Pytest
##########################################

.pytest_cache/

##########################################
# Coverage
##########################################

.coverage
htmlcov/

##########################################
# Logs
##########################################

logs/*.log

##########################################
# OS Files
##########################################

.DS_Store
Thumbs.db

##########################################
# Jupyter
##########################################

.ipynb_checkpoints/

##########################################
# SQLite
##########################################

*.sqlite3

##########################################
# Python Distribution
##########################################

dist/
build/
*.egg-info/

##########################################
# Temporary Files
##########################################

*.tmp
*.bak

htmlcov/

logs/*.log